body {
    font-family: Arial, sans-serif;
    background-color: #70d2e8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator-container {
    background-color: #846317;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.calculator {
    background-color: #F2D230;
    background-image: url(assets/pxfueld.jpg);
    border: 1px solid #333;
    border-radius: 10px; 
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    max-width: 60vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 70%;
    border-radius: 30px;
    border: none;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box; 
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

button {
    font-size: 18px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 90%;
}

button:hover {
    background-color: #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
img{
    width: 200px;
    height: auto;
}
      .equals-button {
    grid-column: span 2;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: auto;
}

.equals-button:hover {
    background-color: #45a049;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
      .clear-button {
    background-color: red; 
    color: white; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.clear-button:hover {
    background-color: darkred; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}